/* banner */

.banner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(255, 216, 11); */
  /* background: url('https://unsplash.it/1500/1500/?image=855');
  background-repeat: no-repeat;
  background-size: cover; */
  background: url('../../../static/background2.png');
  background-repeat: repeat;
}

.banner .block p {
  font-weight: 600;
  font-size: 30px;
}

.banner .block .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .block .icon span{
  width: 130px;
  text-align: center;
  background-color: #409EFF;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
}

/* dialog */
.el-dialog__body {
  padding-bottom: 0px !important;
}

/* icon */
.icon span {
  font-weight: bold;
}
