#info-section .el-form label {
    padding-bottom: 0px;
}

/* new design */
#info-section .box .block {
  width: 200px;
  height: 200px;
  background-color: #E6A23C;
}

#info-section .block .main {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

#info-section .block .desc {
  width: 100%;
  text-align: center;
}
