#navbar {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    z-index: 1000;
    width: 100%;
}

#navbar .logo img {
  margin-top: 8px;
  width: 135px;
}

#navbar a {
    text-decoration: none;
}

#navbar .logo {
    margin-left: 2%;
    font-size: 20px;
    float: left;
    line-height: 60px;
}

#navbar .logo a {
    text-decoration: none;
    color: black;
}

#navbar button {
    margin-top: 15px;
    margin-left: 17px;
}

/*
#navbar .el-menu .el-menu-item:nth-child(2) {
    margin-left: 62%;
}

#navbar .el-menu .el-menu-item:last-child {
    margin-right: 3%;
}
*/

#navbar {
    float: right;
}

#navbar .el-menu {
    float:right;
    margin-right: 30px;
}
