#ta-navbar {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    z-index: 1000;
}

#ta-navbar a {
    text-decoration: none;
}

#ta-navbar .logo {
    margin-left: 2%;
    /* margin-right: 55%; */
    font-size: 20px;
    float: left;
    line-height: 60px;
}

#ta-navbar button {
    margin-top: 15px;
    margin-left: 17px;
}

#ta-navbar .logo a {
    text-decoration: none;
    color: black;
}

#ta-navbar .el-menu .el-menu-item:nth-child(2) {
    margin-left: 58%;
}

#ta-navbar .el-menu .el-menu-item:last-child {
    margin-right: 3%;
}
