.box {
  position: relative;
  transition: all .5s ease;
}

/* manageClassGroup */
.manageClassGroup {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

/* filter input */
.box .filterInput {
  width: 200px;
  margin-bottom: 20px;
}

/* change table width btn */
.ctbtn {
  position: absolute;
  top: 110px;
  right: 30px;
}

/* classgroup options */
.el-select {
  margin-bottom: 30px;
}

#tocsv-btn {
  margin-top: 20px;
  float: right;
}
